*{
    font-family: "Roboto", sans-serif;
    padding: 0; /* espaÃ§amento interno do elemento */
    margin: 0; /* espaÃ§amento externo do elemento */
    text-decoration: none;
   }

body{
    Box-sizing: border-box;
    background-color: black;
}
   
.container-header{
    display: flex;
    justify-content: space-around;
    background-color: #33135B;
    padding: 15px;       
}

a{
   color: aquamarine;
}

.text-nav{
    cursor: pointer;
}

.text-nav:hover{
    transform: scale(1.5);
    color: rgb(43, 150, 114) ;
}

.container-home{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 55px auto;
    
}

.text-home{
    width: 40%;
    display: flex;
    text-align: left;
    flex-direction: column;
    animation: slideInLeft 2s forwards;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

h1{
    font-size: 36px;
    color: rgb(201, 49, 49);
    margin-bottom: 10px;
}

h2{
    font-size: 23px;
    color: #471eb8;
    margin-bottom: 10px;
}

.name{
    font-size: 20px;
    line-height: 1.6;
    color: #269135;
    margin-bottom: 10px;
}

.I{
    font-size: 16px;
    line-height: 1.6;
    color: #e4e72f;
    
}

img{
    width: 500px;
    height: 500px;
    padding: 50px;
    border-radius: 500px;
    animation: slideIn 2s forwards;
    box-shadow: 20px 0 0 10px rgba(155, 66, 66, 0.5); /* Adiciona uma borda simulada */
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.rodape{
    
    padding: 24px;
    background-color: blue;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

